#output {
  display: none;
  float: right;
  text-align: center;
  background-color: chartreuse;
}

.jumbotron {
  background-color: lightcyan;
  box-sizing: border-box;
  padding: 10px;
}

.container {
  background-color: aqua;
  box-sizing: border-box;
  padding: 10px;
}
